.books-list-caption { grid-area: captin; 
   font-size: 36px;
   font-weight: bold;
   padding: 10px;
   color:  rgb(47, 153, 109);
}
.book-list-search { grid-area: search; 
   padding: 10px;
}
.book-list-basket { grid-area: basket;
}
.book-list-basket > div {
  display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 14px;
}

.book-list-basket > .basket-logo {
  width:50px; 
}
.book-list-basket > .book-list-basket-price {
  width:80px; 
}
.book-list-basket-price {
  padding-top: 12px;
  padding-left: 5px;
}
.totalPrice{
  float: right;
}

.search-box {
  margin: 6px;
  border-radius: 5px;
  padding-left: 10px;
  width: 400px;
  height: 28px;
  font-size: 16px;
  border: 1px solid rgb(47, 153, 109);
  outline: none; 
}
.search-box:focus {
   border: 1px solid rgb(158, 15, 15);
}

.book-list { grid-area: bookls;
}

.books-grid-container {
    display: grid;
    grid-template-areas: 
    'captin search search search search basket'
    'bookls bookls bookls bookls bookls bookls'
    ;
    grid-gap: 1px;
    padding: 1px;
} 

/***********************************************
BOOK LIST style
***********************************************/

.book-title { grid-area: title; 
    font-size: 24;
}
.book-picture { grid-area: pictr; 

}
.book-description { grid-area: descr; 
    font-size: 14px;
}
.book-actions { grid-area: footr; 
    border-bottom: 1px solid rgb(236, 232, 232);

}
.book-grid-container {
  display: grid;
  grid-template-areas:
    'title title title title title'
    'pictr descr descr descr descr'
    'pictr footr footr footr footr';
  grid-gap: 1px;
  /* background-color: silver; */
  padding: 1px;
}

.book-grid-container > div {
  background-color: white;
  padding: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}