.asterix {
    color: rgb(194, 52, 52);
}

.sigin-in-grid-container {
    display: grid;
    grid-template-areas:
      'unlbel untext'
      'pslbel pstext'
      'logbtn supbtn';
    grid-gap: 5px;
    /* background-color: silver; */
    padding: 1px;
    grid-template-columns: 100px 200px;
}
.sigin-in-grid-container > .user-name-label { grid-area: unlbel; }
.sigin-in-grid-container > .user-name-text { grid-area: untext; }
.sigin-in-grid-container > .user-pass-label { grid-area: pslbel; }
.sigin-in-grid-container > .user-pass-text { grid-area: pstext; }
.sigin-in-grid-container > .sigin-in-button { grid-area: logbtn; }
.sigin-in-grid-container > .sigin-up-button { grid-area: supbtn; }

.sigin-up-grid-container {
    display: grid;
    grid-template-areas:
      'emlbel emtext'
      'pslbel pstext'
      'unlbel untext'
      'aglbel agtext'
      'gentxt gnelst'
      'sorlst sorlst'
      'regist regist';
    grid-gap: 5px;
    /* background-color: silver; */
    padding: 1px;
    grid-template-columns: 200px 200px;
}
.sigin-up-grid-container > .user-email-label { grid-area: emlbel; }
.sigin-up-grid-container > .user-email-text { grid-area: emtext; }   
.sigin-up-grid-container > .user-name-label { grid-area: unlbel; }
.sigin-up-grid-container > .user-name-text { grid-area: untext; }
.sigin-up-grid-container > .user-pass-label { grid-area: pslbel; }
.sigin-up-grid-container > .user-pass-text { grid-area: pstext; }
.sigin-up-grid-container > .user-pass { grid-area: aglbel; }
.sigin-up-grid-container > .user-pass { grid-area: agtext; }
.sigin-up-grid-container > .source-list { grid-area: sorlst; }
.sigin-up-grid-container > .user-gender-title { grid-area: gentxt; }
.sigin-up-grid-container > .user-gender-list { grid-area: gnelst; }
.sigin-up-grid-container > .register-btn { grid-area: regist; }

.sigin-up-grid-container input[type="text"], 
.sigin-in-grid-container input[type="text"]{
    width: 200px;
}
